@{  
    <body class="preg">
        <p class="texto" style="color: #f3da0b;">Jugador: @ViewBag.Player.Nombre</p>
      
    <div class = "container-fluid ">
        <div class="row">
            <div class="col-2">
                <div class="row">
                <a href='@Url.Action("PreguntaRespondida","Home")' class="btn btn-primary w-50 m-2" style="background-color: violet;">Comodin 50/50</a>

            </div>
            <div class="row">
            <a href='@Url.Action("PreguntaRespondida","Home")' class="btn btn-primary w-50 m-2" style="background-color: violet;">Comodin doble chance</a>

        </div>
        <div class="row">
            <a href='@Url.Action("PreguntaRespondida","Home")' class="btn btn-primary w-50 m-2" style="background-color: violet;">Comodin Saltear</a>

        </div>

            </div>
            <div class="col-8 preguntas">
                    <div class="opciones__item">
            <button id="a" class="button fondoA"><span class="amarillo"></span><center>@ViewBag.PreguntaActual.TextoPregunta</center></button>
          </div>
          <div class="millonario">
            <div class="millonario__item">
              <div class="opciones">
                <div class="opciones__item">
                  <a href='@Url.Action("PreguntaRespondida","Home",new {Opc1="A"})' id="a" class="button fondoA"><span class="amarillo"> @ViewBag.RespuestaActual[0].OpcionRespuesta:</span> @ViewBag.RespuestaActual[0].TextoRespuesta</a>
                </div>
                <div class="opciones__item">
                  <a href='@Url.Action("PreguntaRespondida","Home",new {Opc1="B"})' id="a" class="button fondoB"><span class="amarillo">@ViewBag.RespuestaActual[1].OpcionRespuesta:</span> @ViewBag.RespuestaActual[1].TextoRespuesta</a>
                </div>
              </div>
            </div>
            <div class="millonario__item">
              <div class="opciones">
                <div class="opciones__item">
                  <a href='@Url.Action("PreguntaRespondida","Home",new {Opc1="C"})'id="a" class="button fondoA"><span class="amarillo">@ViewBag.RespuestaActual[2].OpcionRespuesta:</span> @ViewBag.RespuestaActual[2].TextoRespuesta</a>
                </div>
                <div class="opciones__item">
                  <a href='@Url.Action("PreguntaRespondida","Home",new {Opc1="D"})' id="a" class="button fondoB"><span class="amarillo">@ViewBag.RespuestaActual[3].OpcionRespuesta:</span> @ViewBag.RespuestaActual[3].TextoRespuesta</a>
                </div>
              </div>
            </div>
          </div>
            </div>
            <div class="col-2 pozo">
              @{
                    for(int i=ViewBag.ListaPozo.Count-1;i>=0;i--)
                    {
                            if(i>=@ViewBag.PosPozo && @ViewBag.Seguro==true)
                          {
                            <div class="proximo, seguro">@(i+1) - $@ViewBag.ListaPozo[i].idImporte</div>
                          }
                            if(i>=@ViewBag.PosPozo && @ViewBag.Seguro==false)
                          {
                            <div class="proximo">@(i+1) - $@ViewBag.ListaPozo[i].idImporte</div>
                          }
                          if(i<=@ViewBag.PosPozo && @ViewBag.Seguro==true)
                          {
                            <div class="pasado, seguro">@(i+1) - $@ViewBag.ListaPozo[i].idImporte</div>
                          }
                            if(i<=@ViewBag.PosPozo && @ViewBag.Seguro==false)
                          {
                            <div class="pasado">@(i+1) - $@ViewBag.ListaPozo[i].idImporte</div>
                          }
                    }
                }
        </div>

        </div>
    </div>
    </body>
}
